@font-face {
   font-family: 'kgprimary';
   src: url('/site_institucional/KGPrimaryItalics.ttf');
}

html{
    height: 100%;
    width: 100%;

}

body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Poppins', sans-serif;
}
 #navbar{
    width: 100%;
    height: 12vh;
    background-color: rgb(235, 220, 243);
    /* position: fixed; */
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: -20px -20px 100px #e6bff1;
    border-bottom: 3px solid; /* Espessura e estilo da borda */
    border-image: linear-gradient(to right, rgb(89, 0, 255), rgb(183, 0, 255), rgb(255, 0, 242)); /* Gradiente da borda */
    border-image-slice: 1; /* Define a divisão uniforme do gradiente */
 }
 

 #nav_link{
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 10%;
    flex-direction: row;
    padding-right: 5%;
    font-family: MPlus;
    
 }
 .link{
    text-decoration: none;
    color: black;
 }

 #nav_logo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    height: 100%;
    /* background-color: aqua;    */
 }
 #logo{
    height: 90%;
 }

 #home{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 2.5%;
    background-color: rgb(255, 255, 255);
 }

 #tela1{
    height: 80vh;
    width: 48vw;
    background-color: rgb(255, 255, 255);
    display: flex;
    margin-top: 10px;
    margin-left: -60px;

 }
 #p_tela1{
    font-family: 'kgprimary';
    font-size: 65px;
    color: #884788;

 }


 #tela2{
    margin-right: -50px;
    height: 80vh;
    width: 43vw;
    background-color: rgb(235, 220, 243);
    display: flex;
    margin-top: 100px;

 }
 #imagem_tela{
    height: 100%;
    width: 100%;
 } 

 #servicos{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: row;
    gap: 2.5%;
    background-color: rgb(235, 220, 243);
    
 }
/*  primeira div na div serviços*/
 #tela01{
    height: 95vh;
    width: 45%;
    background-color: #884788;
    align-items: baseline;
    /* border: #000000 1px solid; */
    justify-content: center;    
    margin-left: 20px;
    text-align: center;
    border-radius: 20px;
 }

 .H1{
   justify-content: center;
   align-items: center;
   font-size: 23px;
 }
 #p_tela01{
    font-size: 10px;
    margin-left: 4%;
    margin-top: 1%;

    
 }
 .tela01_1{
    margin-left: 7.5%;
    height: 66%;
    width: 84%;
    margin-top: -10px;
    /* background-color: rgb(116, 85, 75); */
    /* border: #000000 solid 1px; */
 }

 #ima{
   width: 100%;
   height: 100%;
   border-radius: 8px;
 }
/* segunda div */
 #tela02{
    height: 95vh;
    width: 45%;
    background-color: #884788;
    /* border: #000000 solid 1px; */
    text-align: center;
    border-radius: 20px;
 } 
 .tela02_2{
   margin-left: 8.2%;
   height: 66%;
   width: 84%;
   margin-top: -10px ;
   /* background-color: rgb(116, 85, 75); */
   /* border: #000000 solid 1px; */
}

#ima2{
   width: 100%;
   height: 100%;
   border-radius: 10px;
 }
 /* terciera div */

 #tela03{
    height: 95%;
    width: 45%;
    background-color: #884788;
    margin-right: 20px;
    text-align: center;
    border-radius: 20px;

 }

 .tela03_3{
   margin-left: 8.2%;
   height: 54%;
   width: 84%;
   margin-top: -10px ;
   /* background-color: rgb(116, 85, 75); */
   /* border: #000000 solid 1px; */
}

#ima3{
   width: 100%;
   height: 100%;
   border-radius: 10px;
 }


/* a div acaba aqui */
 #equipe{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content:flex-start;
    flex-direction: row;
    /* gap: 2.5%; */
    background-color: rgb(235, 220, 243);
 }
 #fundo_foto {
   width: 200px;
   height: 200px;
   background-color: #884788;
   justify-content: center;
   align-items: center; /* Centralizar conteúdo verticalmente */
   margin-left: 20vw;
   margin-top: -47vh;
   border-radius: 50%;
   position: relative;
   z-index: 2;
   overflow: hidden; /* Para esconder o conteúdo que ultrapassa as dimensões */
}

.eu {
   position: absolute;
   top: 10px;
   left: 10px;
   width: 90%; /* 100% da largura da div pai */
   height: 90%; /* 100% da altura da div pai */
   border-radius: 50%;
   object-fit: cover; /* Para manter a proporção da imagem e preencher a div */
}

 #barra_dado{
   width: 650px;
   height: 13vh;
   margin-left: -2vw;
   margin-top: -47vh;
   background-color: #884788;
   border-radius: 10px;
   position: relative;
   z-index: 1;
   

 }
 
 .div-menor1 {
   display: flex;
   width: 300px; /* Ajuste conforme necessário */
   height: 80%; /* Ajuste conforme necessário */
   background-color: rgba(255, 255, 255, 0); /* Cor de fundo da div menor */
   float: left;
}
.nome{
   font-size: 25px;
   font-weight: bold;
   margin-left: 45px;
   margin-top: 30px;
}
.div-menor2 {
   width: 300px; /* Ajuste conforme necessário */
   height: 80%; /* Ajuste conforme necessário */
   background-color: rgba(255, 255, 255, 0); /* Cor de fundo da div menor */
   float:right;
}
.cargo{
   text-align: start;
   font-size: 25px;
   font-weight: bold;
   margin-top: 30px;
}


 
 #nova_barra_dado {
   width: 625px;
   height: 50vh;
   margin-left: -45.9vw;
   margin-top: 115px;
   background-color: #884788;
   border-radius: 10px;
   /* flex-direction: row; */
   display: flex; /* Exibir os filhos em linha */
   /* justify-content: space-between; Distribuir os filhos uniformemente */
   flex-direction: column;
 
}

.coluna1 {
   width: 100%;
   height: 20%;
   background-color:rgba(255, 255, 255, 0);
   margin-top: 10%;
   display: flex; /* Adicionando flexbox */
   justify-content: space-around; /* Espaçamento uniforme dos ícones */
}

#icon_html {
   width: 60px; /* Ajuste conforme necessário */
   height: 60px; /* Ajuste conforme necessário */
   background-color:rgba(255, 255, 255, 0); /* Cor de fundo do ícone */
   align-items: center;
}

#icon_css {
   width: 80px; /* Ajuste conforme necessário */
   height: 80px; /* Ajuste conforme necessário */
   background-color:rgba(255, 255, 255, 0); /* Cor de fundo do ícone */
}

#icon_js {
   width: 100px; /* Ajuste conforme necessário */
   height: 80px; /* Ajuste conforme necessário */
   background-color: rgba(255, 255, 255, 0); /* Cor de fundo do ícone */
   /* align-items: center; */
}

.coluna2 {
   width: 100%;
   height: 20%;
   background-color:rgba(255, 255, 255, 0);
   margin-top: 10%;
   display: flex; /* Adicionando flexbox */
   justify-content: space-around; /* Espaçamento uniforme dos ícones */
}

#icon_azure {
   width: 60px; /* Ajuste conforme necessário */
   height: 60px; /* Ajuste conforme necessário */
   margin-top: -15px;
   /* background-color: white; Cor de fundo do ícone */
}
#icon_oracle{
   width: 60px; /* Ajuste conforme necessário */
   height: 60px; /* Ajuste conforme necessário */
   margin-top: -15px;
   /* background-color: white; Cor de fundo do ícone */
}


/* div equipe acaba aqui */
 #sobre_nos{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    gap: 2.5%;
    background-color: #9c729c;
 }

 #tela{
   width: 95vw;
   height: 30vh;
   justify-content: center;
   /* align-items: end; */
   margin-top: -2%;
   text-align: justify;
 }

.H2{
   text-align: center;
}

 #footer{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    gap: 2.5%;
    background-color: #884788;
 }