/* Estilo do botão ao passar o mouse */
.botao:hover {
    background-color: #dac4c4; /* Cor de fundo ao passar o mouse */
    color: rgb(113, 0, 0); /* Cor do texto ao passar o mouse */
    transition: background 0.5s; /* Transição suave da cor de fundo */
}

/* Estilo básico do corpo da página */
body {
    background-color: rgb(241, 203, 240); /* Cor de fundo do corpo */
    font-family: 'Sora', sans-serif; /* Fonte principal */
    display: flex; /* Flex container para centralizar conteúdo */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    width: 100vw; /* Largura total da viewport */
    height: 100vh; /* Altura total da viewport */
    margin: 0; /* Remove margens padrão */
    padding: 0; /* Remove preenchimento padrão */
}

/* Estilo do background animado */
#bg {
    position: fixed; /* Posição fixa para cobrir toda a tela */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Coloca atrás de todo o conteúdo */
}

/* Estilo do container principal */
.pai {
    width: 90%; /* Largura máxima do container */
    max-width: 400px; /* Largura máxima limitada */
    background-color: #fff; /* Cor de fundo do container */
    box-shadow: 0px 10px 20px #884788; /* Sombra */
    border-radius: 10px; /* Bordas arredondadas */
    padding: 20px; /* Preenchimento interno */
    text-align: center; /* Alinhamento do texto centralizado */
    position: relative; /* Posição relativa para elementos filhos */
}

/* Estilo do título principal */
h1 {
    color: #333; /* Cor do título */
    margin-bottom: 12px; /* Espaçamento inferior */
}

/* Estilo do campo de entrada */
.input-field {
    margin-bottom: 20px; /* Espaçamento inferior */
    position: relative; /* Posição relativa para elementos filhos */
    height: 35px; /* Altura do campo de entrada */
    width: 100%; /* Largura total */
}

/* Estilo do campo de entrada de texto */
.input-field input {
    width: calc(100% - 20px); /* Largura com margens */
    padding: 10px; /* Preenchimento interno */
    border: 2px solid #ddd; /* Borda sólida */
    background: transparent; /* Fundo transparente */
    border-radius: 5px; /* Bordas arredondadas */
    outline: none; /* Remove contorno ao focar */
    color: #333; /* Cor do texto */
    font-size: 1em; /* Tamanho da fonte */
}

/* Estilo do rótulo flutuante no campo de entrada */
.input-field span {
    position: absolute; /* Posição absoluta */
    left: 10px; /* Alinhamento à esquerda */
    top: 50%; /* Alinhamento vertical no meio */
    transform: translateY(-50%); /* Ajuste de posição vertical */
    pointer-events: none; /* Não captura eventos de ponteiro */
    font-size: 1em; /* Tamanho da fonte */
    color: #884788; /* Cor do texto */
    transition: 0.3s; /* Transição suave */
}

/* Estilo do rótulo flutuante quando o campo está focado ou preenchido */
.input-field input:focus ~ span,
.input-field input:not(:placeholder-shown) ~ span {
    color: #884788; /* Cor do texto */
    transform: translateY(-130%); /* Movimento para cima */
    background: white; /* Fundo branco */
    border-radius: 5px; /* Bordas arredondadas */
    font-weight: bold; /* Fonte em negrito */
    padding: 0 5px; /* Preenchimento interno */
}

/* Estilo do checkbox e seu texto */
.checkbox {
    display: flex; /* Container flexível */
    align-items: center; /* Alinhamento vertical */
    justify-content: center; /* Alinhamento horizontal */
    margin-bottom: 20px; /* Espaçamento inferior */
}

.checkbox p {
    margin: 0; /* Remove margens */
    color: #030303; /* Cor do texto */
    font-size: 14px; /* Tamanho da fonte */
}

/* Estilo do botão padrão */
.botao {
    cursor: pointer; /* Cursor de ponteiro ao passar */
    background-color: #884788; /* Cor de fundo */
    color: white; /* Cor do texto */
    width: 100%; /* Largura total */
    height: 50px; /* Altura do botão */
    border-radius: 5px; /* Bordas arredondadas */
    border: none; /* Sem borda */
    font-size: 1.3em; /* Tamanho da fonte */
    font-family: 'Sora', sans-serif; /* Fonte */
    transition: background 0.3s; /* Transição suave da cor de fundo */
}

/* Estilo do botão ao passar o mouse */
.botao:hover {
    background-color: #250425; /* Cor de fundo ao passar o mouse */
    color: white; /* Cor do texto ao passar o mouse */
}

/* Estilo do ícone de voltar */
.voltar {
    position: absolute; /* Posição absoluta */
    top: 10px; /* Distância do topo */
    left: 10px; /* Distância da esquerda */
}

/* Estilo da imagem com ajuste de tamanho */
.img2 {
    width: 30px; /* Largura da imagem */
    cursor: pointer; /* Cursor de ponteiro */
}

/* Estilo para mensagem de erro */
#error-message {
    color: red; /* Cor do texto vermelho */
    display: none; /* Oculto por padrão */
    margin-top: 10px; /* Espaçamento superior */
    font-size: 14px; /* Tamanho da fonte */
}

/* Estilo do tooltip */
.tooltip {
    display: none; /* Oculto por padrão */
    position: absolute; /* Posição absoluta */
    top: 0; /* Alinhamento superior */
    left: 110%; /* Distância à direita */
    margin-left: 10px; /* Margem à esquerda */
    width: 200px; /* Largura do tooltip */
    background-color: #fff; /* Cor de fundo */
    border: 1px solid #ccc; /* Borda sólida */
    border-radius: 4px; /* Bordas arredondadas */
    padding: 10px; /* Preenchimento interno */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
    font-size: 14px; /* Tamanho da fonte */
    color: #333; /* Cor do texto */
    z-index: 10; /* Z-index para sobrepor outros elementos */
    text-align: left; /* alinha o texto para esquerda*/
}

/* Exibir tooltip ao passar o cursor sobre o campo de senha */
.input-field:hover .tooltip,
.tooltip:hover {
    display: block; /* Exibir quando hover */
}
