@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', 'Exo 2', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#navbar {
  width: 100%;
  height: 12vh;
  background-color: rgb(235, 220, 243);
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: -20px -20px 100px #e6bff1;
  border-bottom: 3px solid;
  border-image: linear-gradient(to right, rgb(89, 0, 255), rgb(183, 0, 255), rgb(255, 0, 242));
  border-image-slice: 1;
}

#nav_link {
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 10%;
  flex-direction: row;
  padding-right: 5%;
}

.link {
  text-decoration: none;
  color: black;
}

.link:hover {
  text-decoration: underline;
  color: rgb(78, 20, 95);
}

#link_home {
  width: 5vw;
  height: 2.5vw;
  display: flex;
  align-items: center;
  font-size: 1.5vw;
  color: #884788;
  font-style: normal;
}

#link_servicos {
  width: 6.2vw;
  height: 2.5vw;
  display: flex;
  align-items: center;
  font-size: 1.5vw;
  color: #884788;
  font-style: normal;
}

.link-button {
  width: 6vw;
  height: 2.5vw;
  display: inline-flex;
  align-items: center;
  font-size: 1.5vw;
  background-color: rgb(236, 181, 234);
  border: 3px solid #884788;
  border-radius: 50px;
  justify-content: center;
  color: white;
  font-style: normal;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s, color 0.3s;
  text-decoration: none;
}

.link-button:hover {
  background-color: #884788;
  border-color: rgb(236, 181, 234);
  color: white;
}

#nav_logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
  height: 100%;
}

#logo {
  height: 90%;
}

.janela {
  margin-top: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background: #ffffff;
}
#b_usuario {
  font-size: 20px;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.dash {
  width: 80%;
  max-width: 1200px;
  background-color: rgb(241, 203, 240);
  margin: 0 auto;
  height: 100vh;
  overflow: auto;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.quiz-section {
  width: 100%;
  justify-content: center;
  flex-direction: column;
  border-radius: 20px;
}

.chart-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
  
}

.chart-item {
  border-radius: 10px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: #e6005a 2px solid;
  transition: border-color 0.3s, box-shadow 0.3s, transform 0.3s;
}
.chart-item:hover {
  border-color: #884788;
  background: rgb(199, 132, 197);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

canvas {
  width: 100% !important;
  height: 100% !important;
}


