
.botao:hover {
    background-color: #dac4c4;
    color: #884788;
    transition: background 0.5s;
} 

body {
    background-color: rgb(241, 203, 240);
    font-family: 'Sora', sans-serif;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

#bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#bg canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.pai {
    width: 22%;
    background-color: #ffff;
    box-shadow: 0px 10px 20px #884788;
    border-radius: 10px;
    padding: 40px;
    text-align: center;
    justify-content: center;
    position: relative;
    /* margin-left: 330px; */
}

h1 {
    color: #333;
    margin-bottom: 12px;
}

.input-field {
    margin-bottom: 30px;
    position: relative;
    height: 35px;
    width: 100%;
}

.input-field input {
    width: calc(100% - 30px);
    padding: 10px;
    border: 2px solid #ddd;
    background: transparent;
    border-radius: 5px;
    outline: none;
    color: #333;
    font-size: 1em;
}

.input-field input:focus {
    border-color: #884788;
}

.input-field span {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 10px;
    pointer-events: none;
    font-size: 1em;
    color: #884788;
    transition: 0.3s;
}

.input-field input:focus~span,
.input-field input:not(:placeholder-shown)~span {
    color: #884788;
    transform: translateX(10px) translateY(-130%);
    background: white;
    border-radius: 5px;
    font-weight: bold;
}

.checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    
}

.checkbox p {
    margin: 0;
    color: #000000;
    font-size: 14px;
}

.botao {
    cursor: pointer;
    background-color: #884788;
    color: white;
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border: none;
    font-size: 1.3em;
    font-family: 'Sora', sans-serif ;
    transition: background 0.3s;
}

.botao:hover {
    background-color: #250425;
    color: white;
}

.login a {
    color: #884788;
    text-decoration: none;
    font-weight: bold;
}

.login a:hover {
    color: rgb(87, 0, 0);
}

.fundo {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    width: 300px;
    height: 300px;
}



.img {
    width: 80%;
}

.voltar {
    position: absolute;
    top: 10px;
    left: 10px;

}

.img2 {
    width: 60%;
    cursor: pointer;
    

}

#error-message {
    color: red;
    display: none;
    margin-top: 10px;
    margin-bottom: 2px;
    font-size: 14px;
}
