/* Estilo geral para HTML e Body */
html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family:  Arial, Helvetica, sans-serif;
}

/* Navbar */
#navbar {
  width: 100%;
  height: 12vh; /* Altura do navbar */
  background-color: rgb(235, 220, 243); /* Cor de fundo do navbar */
  top: 0; /* Posiciona no topo */
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: -20px -20px 100px #e6bff1; /* Sombra */
  border-bottom: 3px solid; /* Borda inferior */
  border-image: linear-gradient(to right, rgb(89, 0, 255), rgb(183, 0, 255), rgb(255, 0, 242)); /* Gradiente da borda */
  border-image-slice: 1; /* Divisão uniforme do gradiente */
}

/* Links de navegação */
#nav_link {
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: right; /* Alinha os links à direita */
  align-items: center;
  gap: 11.2%; /* Espaço entre os links */
  flex-direction: row; /* Direção dos itens */
  padding-right: 5%;
  font-family: 'raspberie'; /* Fonte personalizada */
}

.link {
  text-decoration: none; /* Remove sublinhado dos links */
  color: black; /* Cor dos links */
}

.link:hover {
  text-decoration: underline; /* Adiciona sublinhado ao passar o mouse */
  color: rgb(78, 20, 95); /* Cor ao passar o mouse */
}

/* Estilo individual dos links */
#link_home,
#link_servicos,
#link_equipe,
#link_sobre_nos,
#link_quiz,
#link_dash {
  display: flex;
  align-items: center;
  font-size: 1.5vw;
  color: #884788;
  font-style: normal;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Fonte personalizada */
}

#link_home {
  width: 10vw;
  height: 2.5vw;
  margin-left: 90px;
}


#link_servicos {
  width: 6.2vw;
  height: 2.5vw;
}

#link_equipe {
  width: 5.4vw;
  height: 2.5vw;
}

#link_sobre_nos {
  width: 18vw;
  height: 2vw;
}

#link_quiz {
  width: 5vw;
  height: 2.5vw;
}

#link_dash {
  width: 9vw;
  height: 2.5vw;
}

/* Botão de link */
.link-button {
  width: 10vw;
  height: 2.5vw;
  display: inline-flex;
  align-items: center;
  font-size: 1.5vw;
  background-color: rgb(236, 181, 234); /* Cor de fundo do botão */
  border: 3px solid #884788; /* Borda do botão */
  border-radius: 18px; /* Borda arredondada */
  justify-content: center;
  color: white; /* Cor do texto */
  cursor: pointer; /* Cursor ao passar o mouse */
  transition: background-color 0.3s, border-color 0.3s, color 0.3s; /* Transições suaves */
  text-decoration: none; /* Remove sublinhado */
  margin-left: 30px; /* Espaçamento à esquerda */
}

.link-button:hover {
  background-color: #884788; /* Cor de fundo ao passar o mouse */
  border-color: rgb(236, 181, 234); /* Cor da borda ao passar o mouse */
  color: white; /* Cor do texto ao passar o mouse */
}

/* Logo no navbar */
#nav_logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
  height: 100%;
  margin-right: 120px;
}

#logo {
  height: 90%; /* Altura do logo */
}

/* Seção Home */
#home {
  width: 100%;
  height: 100vh; /* Ocupa toda a altura da tela */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5%; /* Espaço entre os elementos */
  background-color: rgb(255, 255, 255); /* Cor de fundo */
}

.container {
  display: flex;
  height: 100vh;
  justify-content: space-between; /* Espaçamento entre as colunas */
  background: linear-gradient(to bottom, #e0d1e0, #df86df); /* Gradiente de fundo */
}

/* Coluna esquerda */
.column-left {
  width: 50%; /* Largura da coluna */
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Alinha ao início */
  align-items: center;
}

/* Estilo do formulário */
.div-form {
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

label {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: self-start;
  flex-direction: column;
  text-align: left; /* Alinha o texto à esquerda */
}

#form_postagem {
  width: 90%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0;
}

#titulo,
#textarea_descricao {
  width: 95%;
  padding: 10px;
  border: 2px solid #ddd; /* Borda inicial */
  background: transparent; /* Fundo transparente */
  border-radius: 5px; /* Borda arredondada */
  outline: none;
  color: #333; /* Cor do texto */
  font-size: 1em; /* Tamanho da fonte */
}

#titulo:focus,
#textarea_descricao:focus {
  border-color: #884788; /* Cor da borda ao focar */
}

#titulo ~ span,
#textarea_descricao ~ span {
  position: absolute;
  left: 10px; /* Ajustado para alinhar com o padding do input */
  top: 0;
  padding: 0 5px;
  pointer-events: none;
  font-size: 1em;
  color: #884788; /* Cor inicial do placeholder */
  transition: 0.3s; /* Transição suave */
}

#titulo:focus ~ span,
#textarea_descricao:focus ~ span,
#titulo:not(:placeholder-shown) ~ span,
#textarea_descricao:not(:placeholder-shown) ~ span {
  color: #884788; /* Cor do placeholder ao focar */
  transform: translate(-5px, -50%) scale(0.8); /* Transformação ao focar */
  background: white;
  border-radius: 5px;
  font-weight: bold;
}

#titulo:hover,
#textarea_descricao:hover {
  border-color: #612061; /* Cor da borda ao passar o mouse */
  background: #eadfeb; /* Cor de fundo ao passar o mouse */
}

#titulo:hover ~ span,
#textarea_descricao:hover ~ span {
  color: #612061; /* Cor do texto de dica ao passar o mouse */
  background: #eadfeb;
}

/* Estilo do botão */
button {
  padding: 10px 20px;
  background-color: #884788; /* Cor de fundo do botão */
  color: white; /* Cor do texto */
  border: none;
  border-radius: 5px; /* Borda arredondada */
  cursor: pointer; /* Cursor ao passar o mouse */
  font-size: 16px; /* Tamanho da fonte */
  transition: background-color 0.3s ease; /* Transição suave */
  font-family: sans-serif; /* Fonte do botão */
}

button:hover {
  background-color: #6e3573; /* Cor de fundo ao passar o mouse */
}

/* Coluna direita */
.column-right {
  width: 48%; /* Largura da coluna */
  height: 90%;
  border: #884788 3px solid; /* Borda */
  border-radius: 20px; /* Borda arredondada */
  margin-top: 10px;
  background: linear-gradient(to top, #b486df, #d7c0e6, #b486df); /* Gradiente de fundo */
}

/* Estilo das publicações */
.publicacao {
  background-color: rgba(248, 217, 235, 0.8); /* Cor de fundo com opacidade */
  padding: 20px; /* Espaçamento interno */
  border-radius: 10px; /* Borda arredondada */
  margin-bottom: 20px; /* Espaçamento inferior */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra */
  text-align: right; /* Alinhamento do texto */
}

/* Estilo do título */
h1 {
  text-align: center; /* Alinhamento central */
  color: #47086b; /* Cor do texto */
  font-size: 48px; /* Tamanho da fonte */
  margin-bottom: 10px; /* Espaçamento inferior */
  font-family: sans-serif; /* Fonte do título */
}

/* Estilo do rodapé */
#footer {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; /* Direção dos itens */
  gap: 2.5%; /* Espaçamento entre os elementos */
  background-color: #884788; /* Cor de fundo */
}

#grupo {
  width: 65vw; /* Largura do grupo */
  height: 90%;
  display: flex;
  flex-direction: row; /* Direção dos itens */
  align-items: center;
  justify-content: space-around; /* Distribui os itens */
}

#email, #linkedin, #github {
  width: 20vw; /* Largura das seções */
  height: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* Direção dos itens */
}

#email img, #linkedin img, #github img {
  width: 80%; /* Largura das imagens */
  margin-top: 20px;
  margin-left: 10px;
}

#email p, #linkedin p, #github p {
  margin-top: -10px;
  text-align: center; /* Alinhamento central */
}

#email h2, #linkedin h2, #github h2 {
  margin-top: -2px;
  text-align: center; /* Alinhamento central */
}
