html{
    height: 100%;
    width: 100%;

}

body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'kgprimary', sans-serif;
}
 #navbar{
    width: 100%;
    height: 12vh;
    background-color: rgb(235, 220, 243);
    /* position: fixed; */
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: -20px -20px 100px #e6bff1;
    border-bottom: 3px solid; /* Espessura e estilo da borda */
    border-image: linear-gradient(to right, rgb(89, 0, 255), rgb(183, 0, 255), rgb(255, 0, 242)); /* Gradiente da borda */
    border-image-slice: 1; /* Define a divisão uniforme do gradiente */
 }


 #nav_link{
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 10%;
    flex-direction: row;
    padding-right: 5%;
    font-family: 'raspberie';

 }
 .link{
    text-decoration: none;
    color: black;
 }
 #link_home{
   width: 5vw;
   height: 2.5vw;
   display: flex;
   align-items: center;
   font-size: 1.5vw;

   color: #884788;
   font-style: normal;
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   /* box-shadow: 0px 10px 10px 10px rgb(236, 181, 234) ; */
 }
 #link_servicos{
   width: 6.2vw;
   height: 2.5vw;
   display: flex;
   align-items: center;
   font-size: 1.5vw;
   color: #884788;
   font-style: normal;
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }
 #link_equipe{
   width: 5.4vw;
   height: 2.5vw;
   display: flex;
   align-items: center;
   font-size: 1.5vw;
   color: #884788;
   font-style: normal;
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }
 #link_sobre_nos{
   width: 7.3vw;
   height: 2.5vw;
   display: flex;
   align-items: center;
   font-size: 1.5vw;
   color: #884788;
   font-style: normal;
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }

 .link-button {
   width: 6vw; /* Defina a largura desejada */
   height: 2.5vw; /* Ajuste conforme necessário */
   display: inline-flex;
   align-items: center;
   font-size: 1.5vw;
   background-color: rgb(236, 181, 234);
   border: 3px solid #884788;
   border-radius: 50px;
   justify-content: center;
   color: white;
   font-style: normal;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   cursor: pointer;
   transition: background-color 0.3s, border-color 0.3s, color 0.3s; /* Transição suave */
   text-decoration: none;
}

.link-button:hover {
   background-color: #884788;
   border-color: rgb(236, 181, 234);
   color: white;
}
 #nav_logo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    height: 100%;
    /* background-color: aqua;    */
 }
 #logo{
    height: 90%;
    /* width: 40%; */
 }

 #home{
    width: 100%;
    height: 100%;
    display: block;
    align-items: center;
    justify-content:center;
    gap: 2.5%;
    margin: auto;
    background-color:rgb(241, 203, 240);
 }

 .quiz-container {
    display: flex; /* Adicionado para flex */
    flex-wrap: wrap; /* Adicionado para permitir quebra de linha se necessário */
    max-width: 90%;
    margin: auto;
    padding: 20px;
    background-color: #ffff;
    box-shadow: 0px 10px 20px #884788;
    border-radius: 10px;
    justify-content: space-evenly; /* Espaçamento entre os itens */
    align-items: center;
    height: 500px;
}

.questao1{
    margin-bottom: 20px;
    max-width: 45%; /* Ajustado para ocupar menos espaço e caber lado a lado */
} 
.questao2 {
    margin-bottom: 20px;
    max-width: 45%; /* Ajustado para ocupar menos espaço e caber lado a lado */
    margin-top: -8%;
}
.question h3 {
    margin-bottom: 2px;
    font-size: 18px;
}
.answers {
    list-style-type: none;
    padding: 0;
}
.answers li {
    margin-bottom: 10px;
}

ul {
   list-style-type: none;
   padding: 0;
}

li {
   background-color: #e1bdf1;
   margin: 5px 0;
   padding: 10px;
   border-radius: 5px;
   font-family: sans-serif;
}

fieldset {
   border-radius: 10px;
   background-color: #f3e5f5;
   padding: 20px;
   border: 2px solid #d1c4e9;
   
}

legend {
   padding: 0 10px;
   color: #6a1b9a;
   font-weight: bold;
   /* margin-bottom: -8%; */
   font-size: 16px;
}

.botao {
   display: block;
   width: 40%;
   padding: 10px;
   font-size: 16px;
   color: white;
   background-color: #884788;
   border: none;
   border-radius: 10px;
   cursor: pointer;
   transition: background-color 0.3s, box-shadow 0.3s;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   margin-top: 20px;
   
}

#botao:hover {
   background-color: #6a1b9a;
   box-shadow: 0 0 10px rgba(106, 27, 154, 0.5);
}

#footer{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    gap: 2.5%;
    background-color: #884788;
 }

 #grupo{
   width: 65vw;
   height: 90%;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-around;
  

 }

 #email, #linkedin, #github {
   width: 20vw;
   height: 95%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column; 
}

#email img, #linkedin img, #github img {
   width: 80%; 
   margin-top: 20px;
   margin-left: 10px;
}

#email p, #linkedin p, #github p {
   margin-top: -10px ; 
   text-align: center;
}

#email h2, #linkedin h2, #github h2 {
   margin-top: -2px ;
   text-align: center; 
}
