body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #888888; /* Cor cinza do fundo */
}

.outer-container {
    background-color: #FF5C5C; /* Cor vermelha */
    width: 80%;
    height: 80%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-container {
    background-color: #4A90E2; /* Cor azul */
    width: 90%;
    height: 80%;
    border: 5px solid #FF00FF; /* Borda roxa */
    border-radius: 10px;
}
 